/* universal selector */
*{
    font-family: cursive;
}

/* element selector */
h1{
    color: orange;
    border: 2px solid black;
}

/* class selector */
.testOne{
    border: 2px solid orange;
    color: red;
}
.testTwo{
    color: blue;
}

/* id selector */
#hero{
    color: orange;
    background-color: black;
}

